.blocks {
   padding-left: 30%;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: auto auto;
    font-size: 30px;
    transition: transform 1s;
    .item-1 {
        background-color: #fdd835;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
    .item-2 {
        background-color: #fdd835;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
    .item-3 {
        background-color: #fdd835;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
    .item-4 {
        background-color: #ffc107;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
    .item-5 {
        background-color: #fdd835;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
    .item-6 {
        background-color: #fdd835;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
    .item-7 {
        background-color: #fdd835;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
    .item-8 {
        background-color: #fdd835;
        box-shadow: 0 0.15rem 0 #ff8f00;
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        transition: transform-origin 0.5s;
    }
   
}

.blocks:hover {
    .item-1 {
        transform: rotate(-10deg);
        transform-origin: 50% 180%;
    }
    .item-2 {
        transform: rotate(20deg);
        transform-origin: 180% 90%;
    }
    .item-3 {
        transform: rotate(-30deg);
        transform-origin: 50% 90%;
    }
    .item-4 {
        transform: rotate(40deg);
        transform-origin: 50% 180%;
    }
    .item-5 {
        transform: rotate(-50deg);
        transform-origin: 180% 90%;
    }
    .item-6 {
        transform: rotate(60deg);
        transform-origin: 50% 180%;
    }
    .item-7 {
        transform: rotate(-70deg);
        transform-origin: 180% 40%;
    }
    .item-8 {
        transform: rotate(80deg);
        transform-origin: 50% 180%;
    }
}