.mountain {
    overflow: hidden;
    min-width: 50px;
    transition: min-width 0.4s;
    display: grid;
    position: relative;
    img {
        margin-left: -20%;
        height:100vh;
        z-index: -1;
    }
}

.mountain:hover {
    min-width: 500px;
    background: rgba(158, 165, 207, 0.4);
    .mtn-info {
        h1 {
            font-size: 50px;
            font-family: 'Rock Salt', cursive;
        }
        p {
            font-size: 30px;
        }
    }
}

.mtn-info {
    color: white;
    position: absolute;
    text-align: center;
    left: 10%;
    h1 {
        font-family: 'Rock Salt', cursive;
       font-size: 30px;
       transform: rotate(-20deg);
    }

    p {
        font-size: 0px;
        color: rgb(76, 94, 201);
        font-family: 'Rock Salt', cursive;
        margin: 0px;
        transform: rotate(-20deg);
    }
}