$green: greenyellow;
$yellow: #ff8f00;

.label {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    color: black;
    font-size: 3em;
    text-shadow: 0 0.15rem 0 $green;
}
.label-bold {
    background-color: $green;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    color: black;
    font-size: 3em;
    text-decoration: underline;
    text-shadow: 0 0.15rem 0 $yellow;
}

// PLAIN 
.raw {
     font-size: 30px;
     margin: 10%;
     margin-top: 0%;
     border: solid $yellow;
     .item {
         background-color: $green;
         box-shadow: 0 0.15rem 0 $yellow;
         padding: 20px;
         margin: 0.5em;
         border-radius: 5px;
     }
 }
 
 // FLEX 
.flex {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // FLEX-DIRECTION
.flex-direction {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    flex-direction: column;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // JUSTIFY-CONTENT

 // CENTER
 .center {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: center;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // FLEX-END
 .flex-end {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: flex-end;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // SPACE BETWEEN
 .between {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: space-between;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // SPACE AROUND
 .around {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: space-around;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // SPACE EVENLY
 .evenly {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: space-evenly;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // ALIGN ITEMS
 // CENTER
 .align-center {
    font-size: 30px;
    height: 300px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // FLEX-START
 .align-start {
    font-size: 30px;
    height: 300px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

 // FLEX-END
 .align-end {
    font-size: 30px;
    height: 300px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

// STRETCH
.stretch {
    font-size: 30px;
    height: 300px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .item {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
    }
}

// FLEX-BASIS
.basis {
    font-size: 30px;
    margin: 10%;
    margin-top: 0%;
    border: solid $yellow;
    display: flex;
    .twenty-five {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
        flex-basis: 25%;
    }
    .ten {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
        flex-basis: 10%;
    }
    .thirty {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
        flex-basis: 30%;
    }
    .five {
        background-color: $green;
        box-shadow: 0 0.15rem 0 $yellow;
        padding: 20px;
        margin: 0.5em;
        border-radius: 5px;
        flex-basis: 5%;
    }
}