.mountain {
    overflow: hidden;
    min-width: 50px;
    transition: min-width 0.4s;
    display: grid;
    position: relative;
    img {
        filter: grayscale(50%);
        margin-left: -20%;
        height:100vh;
        z-index: -1;
        transition: margin-left 1s;
    }
}

.mountain:hover {
    min-width: 500px;
    background: rgba(158, 165, 207, 0.4);
    img {
        margin-left: -30%;
    }
    .mtn-info {
        h1 {
            font-size: 70px;
            font-family: 'Rock Salt', cursive;
        }
        p {
            font-size: 100px;
        }
    }
}

.mtn-info {
    color: white;
    position: absolute;
    text-align: center;
    left: 10%;
    h1 {
        font-family: 'Rock Salt', cursive;
       font-size: 35px;
       transform: rotate(-20deg);
    }

    p {
        font-size: 0px;
        color: white;
        font-family: 'Alegreya Sans SC', sans-serif;
        margin: 0px;
        transform: rotate(-20deg);
    }
}